<!-- src/app/partials/header/header.component.html -->

<header class="header">
    
    <div class="header-top">
        <div class="header-top-in">
            <div class="title"><a routerLink="/">Site de Recettes</a></div>
            <div id="my_overlay" class="my-overlay">
                <nav class="nav-icon">
                    <label for="menu1" class="label">☰</label>
                    <input type="checkbox" id="menu1">
                    <ul>
                        <li><a routerLink="/recettes" (click)="closeMenu()">Recettes</a></li>
                        <li><a routerLink="/recherche" (click)="closeMenu()">Recherche</a></li>
                        <li><a routerLink="/utilisateurs" (click)="closeMenu()">Utilisateurs</a></li>

                        @if (!isLogged()) {
                            <li><a routerLink="/connexion" (click)="closeMenu()">Connexion</a></li>
                            <li><a routerLink="/inscription" (click)="closeMenu()">Inscription</a></li>
                        }
                        @else {
                            <li><a routerLink="/membre" (click)="closeMenu()">Profil de {{ username }}</a></li>
                            @if (isAdmin()) {
                                <li><a routerLink="/admin" (click)="closeMenu()">Admin</a></li>
                            }
                            <li><a (click)="logout()" class="cursor">Déconnexion</a></li>
                        }
        
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header-bloc">

        <img src="/assets/img/recette-fond.jpg" alt="Site de recettes">

        <span class="filter"></span>

        <p>Cuisiner, c'est l'art de transformer des ingrédients en amour.</p>

    </div>

</header>