<!-- src/app/pages/home/home.component.html : -->

<div class="container">
    <main>

        <h1 class="center">Bienvenue sur notre site de recettes</h1>

        <p><a routerLink="/recettes">Toutes nos recettes</a></p>

        @if (isLogged()) {
            <!-- <p>Vous êtes connecté ! Bonjour {{ username }} !</p> -->
            <p>Vous êtes connecté ! Bonjour {{ username() }} !</p> <!-- 💥 Avec signal -->
        }
        @else {
            <p>Vous n'êtes pas connecté !</p>
        }
        
        @if (isAdmin()) {
            <p>Vous êtes Admin ou + !</p>
        }
        @else {
            <p>Vous n'êtes pas Admin !</p>
        }

    </main>
</div>