<!-- ----- Conditions ----- -->

<h2>Conditions</h2>

@if (a > b) {
    {{a}} est plus grand que {{b}}
}
@else if (b > a) {
    {{a}} est plus petit que {{b}}
}
@else {
    {{a}} est égal à {{b}}
}

@switch(today) {
    @case('Lundi') {
        <p>C'est lundi</p>
    } 
    @case('Mardi') {
        <p>C'est mardi</p>
    }
    @default {
        <p>C'est un autre jour</p>
    }
}


<!-- ----- Tableaux et Boucles ----- -->

<hr><h2>Tableaux et Boucles</h2>

<ul>
    @for (utilisateur of utilisateurs; track utilisateur; let i = $index) {
        <li>Index {{ i }} : {{ utilisateur }}</li>
    }
    @empty {
        <li>Aucun utilisateur</li>
    }
</ul>

<ul>
    @for (fruit of fruits; track fruit; let i = $index) {
        <li>Index {{ i }} : {{ fruit.nom }}</li>
    }
    @empty {
        <li>Aucun fruit</li>
    }
</ul>


<!-- ----- Interpolation de données ----- -->

<hr><h2 class="mt-5">Interpolation de données</h2>
<p>Nom : {{ name }}</p>
<p>Tout en majuscules : {{ name.toUpperCase() }}</p> <!-- Méthode JS directement dans le template -->
<p>Tout en minuscules : {{ name.toLowerCase() }}</p>
<p>Status connexion : {{ isLogged }}</p> <!-- Affiche 'true' ou 'false' en fonction de l'état de 'isLogged' -->


<!-- ----- UpperCasePipe, LowerCasePipe, DatePipe, DecimalPipe ----- -->

<hr><h2 class="mt-5">UpperCasePipe, LowerCasePipe, DatePipe, DecimalPipe</h2>
<p>Texte en majuscules : {{ text | uppercase }}</p> <!-- Pipe Angular -->
<p>Texte en minuscules : {{ text | lowercase }}</p>

<p>Texte en majuscules sans Pipe (pas besoin d'importer) : {{ text.toUpperCase() }}</p>

<p>Date actuelle : {{ today2 }}</p>
<p>Date et heure fr actuelle : {{today2 | date:"d/M/y H:m:s"}}</p>

<p>{{pi}}</p> <!-- 3.141592653589793 -->
<p>{{pi | number : "1.0-2"}}</p> <!-- 3.14 -->
<p>{{pi | number : "2.3-3"}}</p> <!-- 03.142 -->


<!-- ----- Liaison de données (Data Binding) ----- -->

<hr><h2 class="mt-5">Liaison de données (Data Binding)</h2>

<img [src]="monImage" alt="Description">

<p [style]="color">Contenu avec style dynamique</p>

<div [class]="maClassA">Texte avec la classe dynamique 'green'</div>
<div [class]="maClassB">Texte avec la classe dynamique 'red'</div>


<!-- ----- Méthodes et interactions utilisateur ----- -->

<hr><h2 class="mt-5">Méthodes et interactions utilisateur</h2>

<p>{{ isLogged ? "Vous êtes connecté" : "Veuillez vous connecter" }}</p>

<p [class]="isLogged ? maClassA : maClassB">J'ai une classe dynamique</p>

<button (click)="toggleLogged()" class="mini-btn">{{ isLogged ? "Déconnexion" : "Connexion"}}</button>

<p>Nombre de clics : {{ nb }}</p>
<button (click)="incrementCount()" class="mini-btn">Incrémenter</button>


<!-- ----- Gestion des événements ----- -->

<hr><h2 class="mt-5">Gestion des événements</h2>

<input
  (input)="onInputChange($event)"
  (change)="onChange($event)"
  (blur)="onBlur()"
  (focus)="onFocus()"
  (keyup)="onKeyUp($event)"
  placeholder="Pseudo"
/>

<p>Status du champ : {{ inputStatus }}</p>
<p>Pseudo : {{ pseudo }}</p>
<p>Message : {{ message }}</p>

<button (click)="onClick()">Clique-moi</button>



<!-- ----- Liaison bidirectionnelle (Two-Way Data Binding) ----- -->

<hr><h2 class="mt-5">Liaison bidirectionnelle (Two-Way Data Binding)</h2>
<p>Bienvenue {{ nom }} !</p> <!-- Affiche le nom saisi en temps réel -->

<label>Entrez votre nom :
    <input [(ngModel)]="nom">
</label>


<!-- ----- Formulaires réactifs (Reactive Forms) ----- -->

<hr><h2 class="mt-5">Formulaires réactifs (Reactive Forms)</h2>

<form [formGroup]="form">
    Pseudo : <input formControlName="pseudo">
    Email : <input formControlName="email">
</form>



<br><hr><br>
Liens : <a routerLink="/cours">Cours</a> | <a routerLink="/cours/parent">Parent</a>  | <a routerLink="/cours/enfant">Enfant</a> 