<!-- src/app/pages/admin/admin.component.html : -->

<div class="container">
    <main>

        <h1 class="center">Liste de recettes</h1>
        
        <p class="mt-5 center b"><a [routerLink]="['/admin-ajout-recette']">Ajouter</a></p>

        <div class="table-list-head">
            <div class="e">Titre</div>
            <div class="e">Catégorie</div>
            <div class="e">Date de création</div>
            <div class="e">Auteur</div>
            <div class="e">Modifier</div>
            <div class="e">Supprimer</div>
        </div>
        <ul class="table-list">

            @for (recipe of recipes; track recipe) {
                <li>
                    <div class="e"><a [routerLink]="['/recette', recipe.id]">{{ recipe.title }}</a></div>
                    <div class="e">{{ recipe.categoryName }}</div>
                    <div class="e">{{ recipe.createdAt | date:'dd/MM/yyyy HH:mm' }}</div>
                    <div class="e">{{ recipe.authorName }}</div>
                    <div class="e center">Modifier</div>
                    <div class="e center">Supprimer</div>
                </li>
            }
            @empty {
                <li>Aucune recette (ou vous n'avez pas lancé l'application back-end)</li>
            }

        </ul>

    </main>
</div>